.place {
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas: "title url"
  "image text";
  /*Гриды - можно лучше.*/
  /*
    Здесь гриды не построены через fit-content и auto-fit. Нам нужно совпадение с макетом.
    Эту задачу, в принципе, можно легко решить через флекс.
  */
}

@media screen and (max-width: 1140px){
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 984px){
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 640px){
  .place {
    grid-template-areas: "title title"
    "image text";
    grid-template-columns: minmax(200px, 1fr) 1fr;
  }
}

@media screen and (max-width: 568px){
  /*Делаем еще один брейкпоинт для изменения отображения.*/
  .place {
    grid-template-areas: "title"
    "image"
    "text";
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
