.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 0 64px;
  /*Можно лучше: чтобы было как макете ограничить max-width: 50% + margin 32px auto 64px*/
}

@media screen and (max-width: 1140px){
  .lead__subtitle {
    margin: 32px 0 56px;
  }
}

@media screen and (max-width: 984px){
  .lead__subtitle {
    margin: 32px 24px 56px;
  }
}

@media screen and (max-width: 640px){
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 16px 40px;
  }
}
