.intro__list {
  font-size: 12px;
  line-height: 18px;
  /*
  Можно определить шрифты тут. Студенты так и будут делать, скорее всего, либо на <li>
  @TODO Не нравится, что в макете это одна группа.
  */
  list-style-type: none;
  margin: 32px 0 0;
  padding: 0;
}
