.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 16px;
  /*
    Это "Можно лучше" реализация. В качестве "Надо исправить" мы ее не используем.
  */
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 1140px){
  .photo-grid__list {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 984px){
  .photo-grid__list {
    grid-gap: 16px;
  }
}

@media screen and (max-width: 640px){
  .photo-grid__list {
    grid-gap: 12px;
  }
}
