.lead__caption {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 8px 0 0;
}

@media screen and (max-width: 984px){
  .lead__caption {
    margin: 8px 24px 0;
  }
}

@media screen and (max-width: 640px){
  .lead__caption {
    margin: 8px 16px 0;
  }
}
