.dropdown__option_counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__option_counter .option__counter-action {
    background-color: transparent;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: 0;
}

.dropdown__option_counter .option__counter-action:hover {
    border: 1px solid gray;
    color: gray;
    transition: .2s ease border;
}

.dropdown__option_counter .counter__placeholder {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown__option_counter .option__counter-action_disabled {
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.5);
}