.lead__image {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 64px 0 8px;
}

@media screen and (max-width: 1140px){
  .lead__image {
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 640px){
  .lead__image {
    margin: 40px 0 8px;
  }
}
