.popup__close-button {
  background-image: url('/images/close_btn.svg');
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  border: 0;
  padding: 0;
  width: 33px;
  height: 32px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}