.navigation__list-link {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 9px;
}

.navigation__list-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 568px){
  .navigation__list-link {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin: 16px 0;
  }
}
