.cover__title {
  text-align: center;
  margin: 0 0 16px;
}

@media screen and (max-width: 1140px){
  .cover__title {
    max-width: 656px;
  }
}

@media screen and (max-width: 984px){
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (max-width: 640px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 8px;
  }
}
