.header__burger {
  display: none;

}

@media screen and (max-width: 480px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url('../../../images/burger.svg') center no-repeat;
    background-size: 24px 21px;
    border: none;
    position: absolute;
    transition: visibility 0s, opacity 0.3s;
    padding: 0;
    margin: 0;
    cursor: pointer;
    right: 15px;
    bottom: 27px;
    outline: none;
  }

  .header__burger:hover {
    opacity: 0.6;
  }
  
  .header__burger:focus {
    outline: 1px solid rgb(78, 78, 78);
  }
}
