.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and (max-width: 984px){
  .lead__title {
    margin: 0 24px 32px;
  }
}

@media screen and (max-width: 720px){
  .lead__title {
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (max-width: 640px){
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 16px 16px;
  }
}
