.dropdown {
    max-width: 266px;
    position: relative;
    display: flex;
}

.dropdown__placeholder {
    padding: 12px 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__placeholder::after {
    content: '';
    background-image: url('./icons/expand_more.svg');
    display: block;
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
}

.dropdown__placeholder, .dropdown__option {
    font-family: 'Roboto', sans-serif;
}

.dropdown__menu, .dropdown__placeholder {
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
}

.dropdown__menu {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    border-top: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.dropdown_closed .dropdown__menu {
    display: none;
}

.dropdown_closed .dropdown__placeholder::after {
    transform: rotate(180deg);
}

.dropdown__option {
    padding: 3.5px 7px 3.5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    transition: .3s ease;
}

.dropdown__option:hover {
    opacity: .7;
    background-color: lightblue;
}