.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Можно лучше: transition на ссылки */
  margin: 0 9px;
  /* Можно лучше: использовать отрицательный отступ на родителе */

  background-color: transparent;
  border: 0;
  color: white;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px){
  .header__lang-link {
    font-size: 18px;
  }
}
